@model IEnumerable<AssignmentDept.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
@Html.Raw(TempData["msg"])

<h1>Employee Management System</h1>

<p>
    <a asp-action="Create">Add Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dept_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Empid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Empid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Empid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
