@model IEnumerable<AssignmentDept.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Departments</h1>
@Html.Raw(TempData["msg"])

<p>
    <a asp-action="Create">Add New Dept</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dept_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dept_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dept_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dept_Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Dept_id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Dept_id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Dept_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
